<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
  <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
  <application android:label="Nomad Animator" android:hasCode="false">
    <activity android:name="android.app.NativeActivity" android:exported="true"
        android:screenOrientation="landscape"
        android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode"
        android:theme="@style/NomadTheme">
      <meta-data android:name="android.app.lib_name" android:value="nomad"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
